################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/.vs
/bin/Debug
/obj
/packages
/AppConfig.json
/WorkMate.sln
/logo.ico
/SF.png
/WorkMate.csproj.user
